<p>
  <%= @album.name %>
  <a class="btn" href="<%= new_admin_album_images_url(@album) %>"><i class="icon-plus-sign"></i> 添加图片</a>
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>图片名称</th>
      <th>图片描述</th>
      <th>图片地址</th>
      <th>添加时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @album.images.each do |image| %>
    <tr>
      <td><%= image.id %></td>
      <td><%= image.title %></td>
      <td><%= image.description %></td>
      <td><%= image.url %></td>
      <td><%= image.created_at %></td>
      <td><%= link_to content_tag(:i, '', 'class'=>'icon-remove-sign')+"删除", admin_album_path(@album), :confirm => "确定删除?", :method=>:delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>